h1 {
  text-align: center;
}

body {
  font-family: 'Libre Baskerville', Georgia, serif;
  text-align: justify;
  letter-spacing: .1px;
  font-size: 16px;
}

article p {
  line-height: 26px;
}

article ul li {
  line-height: 26px;
}

hr {
  margin-top: 20px;
  display: block;
  height: 0;
  border: 0;
  border-top: 1px solid;
  margin: 1em 0;
  padding: 0;
}

.info {
  font-size: 90%;
}

nav a {
  margin-right:20px;
}
