div.sourceCode {
  background-color: #efefef;
  margin: 0;
  margin-bottom: 1.5em;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid black;
}

pre.sourceCode {
  padding: 1em;
  margin: 0em;
}

div.note {
    margin: 0.5rem 0.5rem 1.5rem 0.5rem;
    padding: 1rem 1rem 0.5rem;
    border-left: 4px solid #383;
    background: #f4fff4;
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important; 
}

.clickable {
  cursor: pointer; 
}