body, html {
  padding: 0px; }

body {
  text-align: left; }

body * {
  box-sizing: border-box; }

header {
  padding: 20px 15px;
  padding-bottom: 0px; }

a {
  text-decoration: none;
  transition: .3s ease all; }
  a:hover {
    text-decoration: none;
    border-bottom: 1px solid #333;
    opacity: .7; }

.main__container {
  padding-top: 20px;
  padding-bottom: 25px; }

.main__title {
  margin-bottom: 25px;
  border-bottom: 1px solid #ccc; }

.archive__grid .elem__archive:last-child {
  margin-bottom: 0px; }

.archive__grid .elem__archive {
  margin-bottom: 25px; }
  .archive__grid .elem__archive .post-link {
    line-height: 24px; }
  .archive__grid .elem__archive > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 7px; }
    .archive__grid .elem__archive > div .spacer__post {
      display: inline-flex;
      margin-left: 0px;
      margin-right: 5px; }
    .archive__grid .elem__archive > div .post-meta {
      padding: 0px;
      min-width: 65px;
      text-align: left;
      display: inline-flex; }
  .archive__grid .elem__archive > span {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 15px;
    display: block; }

.main__title h2 {
  margin: 0px;
  border-bottom: 0px; }

header, .main__container, footer {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

header > h1 {
  margin: 0px;
  margin-bottom: 25px; }

.bottom__header {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .bottom__header > nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0px;
    padding: 0px; }
    .bottom__header > nav li {
      display: inline-flex;
      margin-right: 15px; }
      .bottom__header > nav li:last-child {
        margin-right: 0px; }
    .bottom__header > nav a {
      transition: .4s ease all;
      margin-right: 0px; }
      .bottom__header > nav a:hover {
        text-decoration: none;
        opacity: .7; }

.menu__mobile {
  display: none; }

body {
  transition: .3s ease all; }

.sourceCode code {
  white-space: break-spaces;
  word-break: break-all; }

hr {
  border-color: #ccc; }

.image__article {
  float: right;
  width: 40%;
  padding: 25px 25px;
  margin: 0px; }
  .image__article > img {
    max-width: 100%;
    margin: 0px; }

.main__container .inside li {
  line-height: 26px; }

.main__container .inside p {
  line-height: 26px; }

body.dark {
  background-color: #1a1818;
  color: #fff; }
  body.dark div.note {
    background-color: #022e02; }
  body.dark span.fu {
    color: #88a7f5 !important; }
  body.dark span.st {
    color: #6db6ff !important; }
  body.dark div.sourceCode {
    border: 1px solid #fff;
    background-color: #000; }
  body.dark .menu__mobile > a > span {
    background-color: #fff; }
  body.dark a {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7); }
  body.dark .archive__grid .elem__archive > div .post-meta {
    color: rgba(255, 255, 255, 0.8); }
  body.dark header > h1 {
    color: #fff; }

.dark__mode {
  margin-left: 15px; }
  .dark__mode > a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0px !important;
    border: 0px; }
    .dark__mode > a img {
      max-width: 24px; }

.rc-scout__link {
  border-bottom: 0px !important; }

.hero__section p:last-child {
  margin-bottom: 0px; }

.info:nth-child(1) {
  margin-bottom: 7px; }

blockquote {
  margin-left: 12px;
  padding-left: 12px; }

@media (max-width: 991px) {
  header > h1 {
    font-size: 1.5em; } }
.close__menu {
  display: none; }

@media (max-width: 767px) {
  .image__article {
    width: 45%; }

  .dark .close__menu > span {
    background-color: #fff !important; }

  .close__menu {
    display: inline-flex;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    align-items: center;
    justify-content: center;
    border-bottom: 0px !important;
    text-decoration: none !important; }
    .close__menu > span:nth-child(1) {
      transform: rotate(45deg);
      width: 100%;
      height: 1px;
      background-color: #000;
      position: absolute;
      transition: .3s ease all; }
    .close__menu > span:nth-child(2) {
      transform: rotate(-45deg);
      width: 100%;
      height: 1px;
      position: absolute;
      background-color: #000;
      transition: .3s ease all; }

  body.dark .bottom__header > nav {
    background-color: #000; }

  .bottom__header > nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 8; }
    .bottom__header > nav > li {
      margin-bottom: 10px;
      margin-right: 0px; }
      .bottom__header > nav > li.spacer {
        display: none; }
      .bottom__header > nav > li:last-child {
        margin-bottom: 0px; }

  .bottom__header > nav {
    position: fixed;
    top: -100%;
    width: 100%;
    left: 0px;
    height: 100%;
    background-color: #fff;
    transition: .7s ease all; }

  .bottom__right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }

  .menu__mobile {
    display: inline-flex; }
    .menu__mobile > a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      border-bottom: 0px;
      flex-direction: column;
      border-bottom: 0px !important; }
      .menu__mobile > a > span {
        min-width: 32px;
        min-height: 1px;
        position: relative;
        top: 0px;
        transition: .3s ease all;
        bottom: auto;
        margin-bottom: 7px;
        background-color: #000; }
        .menu__mobile > a > span:last-child {
          margin-bottom: 0px; } }
@media (max-width: 640px) {
  div.note {
    margin: 0px; }

  blockquote {
    margin-left: 0px;
    margin-right: 0px; }

  .image__article {
    float: none;
    width: 100%;
    padding: 0px; } }
@media (max-width: 480px) {
  .archive__grid .elem__archive > div .spacer__post {
    display: none; }

  .archive__grid .elem__archive > div .post-meta {
    min-width: 0px;
    margin-bottom: 6px; }

  .archive__grid .elem__archive > div {
    flex-direction: column;
    align-items: flex-start; } }

/*# sourceMappingURL=style.css.map */
