<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="author" content="@katychuang" />
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Cache-Control" content="max-age=86400, must-revalidate" />
        <title>Miguel Vil&aacute;</title>
        <script src="/css/jquery.js"></script>
        <script src="/css/selectfile.js"></script>
        <link rel="stylesheet" type="text/css" title="hakyll_theme" href="/css/haskellmn.css" />
        <link rel="stylesheet" type="text/css" title="hakyll_theme" href="/css/markdown.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    </head>
    <body>
    <header>
        <h1><i>Miguel Vil&aacute;</i></h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/archive.html">Posts</a>
            <a href="https://twitter.com/mglvl/">Twitter</a>
            <a href="https://www.flickr.com/photos/77778296@N07/">Flickr</a>
            <a href="https://github.com/miguel-vila/">Github</a>
            <a href="https://slides.com/miguelvila/">Slides.com</a>
        </nav>
    </header>
    <article>
    <h2>$title$</h2>
    $body$
    </article>
    <footer>
        <hr>
        <p>Made with <a href="http://jaspervdj.be/hakyll/">Hakyll</a>.</p>
    </footer>
    </body>
</html>
