$body$

<hr>
<div class="inside">
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
        this.page.url = "http://miguel-vila.github.io$url$";
        this.page.identifier = "$path$".replace('posts/','').replace('.md',''); 
        };
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//miguel-vila.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
